<h1>
  <%= @the_director.first_name %> <%= @the_director.last_name %>
</h1>

<dl>
  <dt>Image</dt>
  <dd>
    <img src="<%= @the_director.image %>" width="250">
  </dd>

  <dt>Date of birth</dt>
  <dd>
    <%= @the_director.dob %>
  </dd>

  <dt>Bio</dt>
  <dd>
    <%= @the_director.bio %>
  </dd>

  <dt>Internal ID</dt>
  <dd>
    <%= @the_director.id %>
  </dd>
</dl>
<h2>Filmography</h2>

<% dir_id = @the_director.id %>
<% matching_movies = Movie.where({ :director_id => dir_id }) %>

<ul>
  <% matching_credits.each do |a_credit| %>
    <% m_id = a_credit.movie_id %>
    <% matching_movies = Movie.where({ :id => m_id }) %>
    <% the_movie = matching_movies.at(0) %>
    
    <li>
          <a href="/movies/<%= the_movie.id %>">
      <%= the_movie.title %> (<%= the_movie.year %>)
          </a>
    </li>
  <% end %>
  
</ul>
